version: "3.8"

services:
  react-app:
    image: react-app3
    container_name: react-ui
    ports:
      - "7070:80"
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
